:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "SF UI Display", sans-serif;
    --bg-burger: #e51937;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    max-width: 100%;
    min-width: 37.5px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
    color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    padding: 20px;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    height: 100%;
}

.auth__title {
    font-size: 36px;
    font-weight: normal;
}

.auth__link {
    font-size: 18px;
    padding: 0px 100px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.auth__link {}

.auth__img-wrap {
    height: 55%;
}

.auth__img {
    line-height: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}