@media (max-width: 860px) {
    .container {
        min-width: 0;
    }
}

@media (max-width: 768px) {
    .step1 {
        column-gap: 50px;
    }
}

@media (max-width: 648px) {
    .step1 {
        column-gap: 30px;
    }

    .step__title {
        font-size: 28px;
    }

    .title {
        font-size: 28px;
    }

    .nav {
        font-size: 20px;
    }

    .desc__1p {
        font-size: 20px;
    }

    form {
        font-size: 0.9rem;
    }
}

@media (max-width: 585px) {
    .submit {
        padding: 0.375rem 0.75rem;
    }
}

@media (max-width: 467px) {
    .step1 {
        column-gap: 20px;
    }

    .step__title {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .nav {
        font-size: 15px;
    }

    .desc__1p {
        font-size: 15px;
    }

    form {
        font-size: 0.7rem;
    }
}