@media (max-width: 1400px) {
    .step4 {
        column-gap: 30px;
    }

    .step__title {
        font-size: 28px;
    }

    .title {
        font-size: 28px;
    }

    .nav {
        font-size: 20px;
    }

    .desc__4p {
        font-size: 20px;
    }

    form {
        font-size: 0.9rem;
    }

}

@media (max-width: 744px) {
    .set-limit {
        margin-bottom: 20px;
    }

    .step4 {
        column-gap: 30px;
    }

    .step__title {
        font-size: 30px;
    }

    .title {
        font-size: 30px;
    }

    .nav {
        font-size: 20px;
    }

    .desc__4p {
        font-size: 20px;
    }

    form {
        font-size: 0.9rem;
    }

    .container {
        min-width: 0;
    }

    .flex-container {
        flex-direction: column;
        align-items: stretch;
    }

    .checkbox__wrap:last-child {
        margin-bottom: 20px;
    }

    .btn {
        margin-bottom: 20px;
    }

    .set-limit {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .submit {
        width: 100%;
    }
}